.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    margin-top: 6.4rem;
}
.menu__link{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
    text-decoration: none;
    background-color: var(--primary);
    color: var(--text-over-primary);
    padding: 1.2rem;
    border-radius: 0.8rem;
    &:hover{
        filter: brightness(50%);
        transition: 0.3s;
    }
}